---
---

@import "{{ site.theme }}";

img {
	vertical-align: bottom;
}

.header .menu {
	text-align: center;
}

.header .menu ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	/* For IE, the outcast */
	zoom:1;
	*display: inline;
}

.header .menu  li {
	float: left;
	padding: 2px 5px;
	border: 1px solid black;
}
