---
---

@import "{{ site.theme }}";

img {
	vertical-align: bottom;
}


.header ul.menu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header ul.menu  li {
	float: left;
	padding: 2px 5px;
	border: 1px solid black;
}

.header ul.menu  li img {
	height: 32px;
}
