
---
---

@import "{{ site.theme }}";

img {
	vertical-align: bottom;
}


header ul.menu {
	background-color:transparent; 
	border: transparent;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

header ul.menu  li {
	border: transparent;
	float: left;
	width: 75px;
}

header ul.menu  li img {
	height: 32px;
}
